
----------------------------------------

Welcome to {{ ansible_hostname }} ({{ ansible_distribution }})

FQDN:      {{ ansible_fqdn }}
IP:        {{ ansible_default_ipv4.address }}

This is my LAB server

----------------------------------------

